{% extends "Products/base.html" %} {% block content %}
<!-- <p>Products list here</p> -->
<form method="get" action="{% url 'product_list' %}">
  <h5>Filter</h5>
  <div class="d-flex flex-row gap-1">
    <button class="btn text-secondary btn-outline-dark px-0" type="submit" name="status_filter" value="all">Show All</button>
    <button class="btn text-secondary btn-outline-dark px-0" type="submit" name="status_filter" value="bisa_dijual">Show Bisa Dijual</button>
  </div>
  <!-- Add buttons for other status filters if needed -->
</form>
<table class="table table-borderless">
  <thead class="border-bottom font-weight-bold">
    <tr>
      <th>Nama Produk</th>
      <th>Harga</th>
      <th>Kategori</th>
      <th>Status</th>
      <th>
        <a href="{% url 'add_product' %}" class="btn btn-outline-success"><i class="fas fa-plus"></i>
          Add Product
        </a>
      </th>
    </tr>
  </thead>
  <tbody>
    {% for product in product_list %}
    
    <tr>
      <td>{{product.nama_produk}}</td>
      <td>{{product.harga}}</td>
      <td>{{product.kategori}}</td>
      <td>{{product.status}}</td>
      <td>
        <div class="d-flex flex-row gapp-2">
          <a href="{% url 'product_update' product.id_produk %}"
            ><button type="submit" class="btn text-secondary px-0"><i class="far fa-edit fa-lg"></i></button></a
          >
          <form action="{% url 'product_delete' product.id_produk %}">
            {% csrf_token %}
            <button type="submit" class="btn">
              <i class="far fa-trash-alt fa-lg text-danger float-right"></i>
            </button>
          </form>
        </div>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock content %}
